NUXT_SESSION_PASSWORD=your_32_character_session_password
FRONTEND_URL=http://localhost:3000
IMGPROXY_URL=http://localhost:8079
IMAGE_BASE_URL=host.docker.internal

DEFAULT_PATH_UPLOADED=./uploads
PATH_UPLOADED_AVATARS=./uploads/avatars
DEFAULT_USER_ROLE=USER

# Database
DATABASE_URL=postgresql://db_user:db_password@localhost:5432/db_name?schema=public

# Docker
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name
PORT=4000

# JWT
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
JWT_SECRET=your_jwt_secret_key

# Mail
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_mail_user
MAIL_PASSWORD=your_mail_password
MAIL_FROM=noreply@example.com

